@import './vars.scss';

@mixin flex {
  display: flex;
  display: -webkit-flex;
}

@mixin container {
  justify-content: center;
  flex-basis: 100%;
}

@mixin flexContainer($flex) {
  @if $flex {
    @include flex;
    @include container;
  } @else {
    display: block;
  }
}

@mixin errorScreen($fontColor: $secondary, $background: $black) {
  @include flex;
  background: $background;
  color: $fontColor;
  flex-basis: 100%;
  min-height: 100vh;
  .error {
    @include flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
  }
}
